.content {
  width: 50%;
}
.container {
  width: 1333px;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 0 auto;
  color: white;
}

.name {
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.5%;
}

.date {
  color: #9ca4ab;
  margin-top: 8px;
}
.text {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.5%;
}
