.header {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-image: url("../../assets/Mandalorian.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: blue;
}
