@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  height: 80px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo img {
  display: inline-block;
  margin-left: 5px;
}
.navbar {
  width: 1333px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.item_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_list li {
  list-style: none;
  color: white;
  margin-left: 20px;
  font-weight: 400;
}
.item_list .Home {
  font-weight: 700;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main div {
  margin: 0 5px;
}
