@import url(https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;800;900&display=swap);

.watching-container {
  width: 1333px;
  margin: 0 auto;
  position: relative;
}

.watching-cards {
  display: flex;
  gap: 16px;

  align-items: center;
  margin-top: 24px;
}
.watching-title {
  font-family: "Rubik", sans-serif;
  margin-top: 60px;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: 0.005em;

  /* Grayscale/Grayscale 10 */

  color: #f9f9f9;
}

.watching-errow-next {
  width: 167px;
  height: 312px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 72px 20px;
  gap: 10px;

  background: linear-gradient(
    269.96deg,
    #0d0c0f 18.88%,
    rgba(13, 12, 15, 0) 99.97%,
    #0d0c0f 99.97%
  );
}
